@model University_Manager.Models.Student
@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.StudentId)

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span><h4 class="title">EDIT STUDENT</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Contact, null, new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.Contact)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Date, null, new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Address, null, new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RegistrationId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.RegistrationId, null, new { @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.RegistrationId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartmentId, "DepartmentId", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control col-md-1" })
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-10">
                            <input type="submit" style="margin-top:20px" value="Edit" class="btn btn-primary" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        </div>
        }


