@{
    ViewBag.Title = "Home Page";
}
<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    .
    .
</div>

<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Website Overview</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span></h2>
                <h4>
                    <a href="@Url.Action("Index", "Department")">
                        <span>
                            <strong class="box-color-font">Deparments</strong>
                        </span>
                    </a>
                </h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h2>
                <h4>
                    <a href="@Url.Action("Index", "Courses")">
                        <span>
                            <strong class="box-color-font">Courses</strong>
                        </span>
                    </a>
                </h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h2>
                <h4>
                    <a href="@Url.Action("Index", "Teacher")">
                        <span>
                            <strong class="box-color-font">Teachers</strong>
                        </span>
                    </a>
                </h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h2>
                <h4>
                    <a href="@Url.Action("ViewCourseStatus", "AssignCourse")"
                        <span>
                            <strong class="box-color-font">Assign Course</strong>
                        </span>
                    </a>
                </h4>
            </div>
        </div>


        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h2>
                <h4>
                    <a href="@Url.Action("Index", "Student")"
                        <span>
                            <strong class="box-color-font">Students</strong>
                        </span>
                    </a>
                </h4>

            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h2>
                <h4>
                    <a href="@Url.Action("RoomAllocationView", "RoomAllocation")"
                        <span>
                            <strong class="box-color-font">Room Allocation</strong>
                        </span>
                    </a>
                </h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h2>
                <h4>
                    <a href="@Url.Action("Index", "EnrollCourse")"
                        <span>
                            <strong class="box-color-font">Enrool Course</strong>
                        </span>
                    </a>
                </h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h2>
                <h4>
                    <a href="@Url.Action("ViewResult", "ResultEntry")"
                        <span>
                            <strong class="box-color-font">Results Entries</strong>
                        </span>
                    </a>
                </h4>
            </div>
        </div>


        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span></h2>
                <h4>Users</h4>
            </div>
        </div>
    </div>
</div>
