@model IEnumerable<University_Manager.Models.EnrollCourse>
@{
    ViewBag.Title = "Enroll Course";
}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <span class="glyphicon glyphicon-th"></span><h4 class="title">Enrolled Course Status</h4>
        <input type="button" class="btn btn-default pull-right btp" value="Enroll Course" onclick="location.href='@Url.Action("Create", "EnrollCourse")'" />
    </div>
    <div class="container-outer" style="padding:10px">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Student Registration Id")
                    </th>
                    <th>
                        @Html.DisplayName("Course Code")
                    </th>
                    <th>
                        @Html.DisplayName("Enroll Date")
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.RegistrationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollDate)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.EnrollCourseId })
                    </td>
                </tr>
            }
        </table>
    </div>
    </div>
