@model List<University_Manager.Models.AssignCourse>
@{
    ViewBag.Title = "Assign Course";
}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <span class="glyphicon glyphicon-th"></span><h4 class="title">ASSIGN COURSE</h4>
        <input type="button" class="btn btn-default pull-right btp" value="Assign Course" onclick="location.href='@Url.Action("Create", "AssignCourse")'" />
    </div>
    <div class="container-outer" style="padding:10px">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Department")
                    </th>
                    <th>
                        @Html.DisplayName("Teacher")
                    </th>
                    <th>
                        @Html.DisplayName("Credit Taken")
                    </th>
                    <th>
                        @Html.DisplayName("Remaing Credit")
                    </th>
                    <th>
                        @Html.DisplayName("Course")
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditTaken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemaingCredit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Code)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.AssignCourseId }) |
                            @Html.ActionLink("Details", "Details", new { id=item.AssignCourseId }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.AssignCourseId })
                        </td>*@
                </tr>
            }
        </table>
    </div>
</div>