@model IEnumerable<University_Manager.Models.Department>

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model);
}



<div class="panel panel-primary">
    <div class="panel-heading clearfix">
     <span class="glyphicon glyphicon-th"></span><h4 class="title">DEPARMENTS</h4>
     <input type="button"  class="btn btn-default pull-right btp" value="Create new" onclick="location.href='@Url.Action("Create", "Department")'" />      
    </div>
    <div class="container-outer" style="padding:10px">
        <table id="myTable" class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Department", new { id = item.DepartmentId })" class="btn btn-primary">
                            Edit
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Department", new { id = item.DepartmentId })" class="btn btn-danger">
                            Remove
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
