@model List<University_Manager.Models.ResultEntry>
@{
    ViewBag.Title = "Result";
}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <span class="glyphicon glyphicon-th"></span><h4 class="title">STUDENT RESULT</h4>
    </div>
    <div class="container-outer" style="padding:10px">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Registration Id")
                    </th>
                    <th>
                        @Html.DisplayName("Course Code")
                    </th>
                    <th>
                        @Html.DisplayName("Grade")
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.RegistrationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade.Name)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.ResultEntryId }) |
                            @Html.ActionLink("Details", "Details", new { id=item.ResultEntryId }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.ResultEntryId })
                    </td>
                </tr>
            }
        </table>
    </div>
    </div>
